@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="col-5">
	<MyButton @rendermode="InteractiveAuto" />
</div>
<br />
<div class="col-5">
	<MyCounter @rendermode="InteractiveAuto" />
</div>
